/*top-bar*/
#header.top-bar{
    justify-content: center;
    width: auto;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    top: -49px;
}

/*home*/
main{
    padding: 20px;
}
p{
    background-color: white;
    opacity: 90%;
    align-content: space-evenly;
    padding: 70px;
    text-align: center;
}
body{
    text-align: center;
}




